.ContactCatch {
  text-align: center;
  padding-bottom: 10vh;
}
.ContactCatch hr.element {
  margin: 15vh auto 2vh;
  color: var(--primary-colour);
  padding: 1px;
  opacity: 1;
}
.ContactCatch .heading {
  padding-bottom: 0;
}
.ContactCatch .catch-phrase {
  color: var(--seamoss-colour);
  opacity: 0.8;
  padding-top: 20px;
  width: 50vw;
  margin: auto;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 1025px) {
  .ContactCatch hr.element {
    margin-top: 5vh;
  }
  .ContactCatch {
    padding-bottom: 2vh;
  }
  .ContactCatch .catch-phrase {
    width: 70vw;
  }
}
