.ContactCatch {
  text-align: center;
  padding-bottom: 10vh;
}
.ContactCatch hr.element {
  margin: 15vh auto 2vh;
  color: var(--primary-colour);
  padding: 1px;
  opacity: 1;
}
.ContactCatch .heading {
  padding-bottom: 0;
  color: var(--seamoss-colour);
}
