.Dext .section-heading {
  padding: 10vh 0 10vh 1vw;
}
.Dext .logo {
  position: absolute;
  right: 0;
}
.Dext .dext-images {
  padding: 0vh 8vw 15vh 0;
}
.Dext .computer {
  padding-top: 20vh;
}
.Dext {
  background-color: var(--light-accent);
}
@media (min-width: 1300px) {
  .Dext .logo {
    right: 10vw;
  }
}
