.FeaturesSection .banner {
  padding-left: 50px;
}
.FeaturesSection .section-heading {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.FeaturesSection .heading {
  padding: 2vh 0vw;
  text-align: end;
}
.FeaturesSection .left-side {
  padding-top: 40px;
}
.FeaturesSection .card {
  border: none;
  margin: 20px 0;
  padding-left: 5px;
  width: 16.5vw;
}
.FeaturesSection .col {
  flex: 0;
}

.FeaturesSection .card-body {
  padding: 0;
}

.FeaturesSection .card-img-top {
  width: 3vw;
  margin-left: 5px;
  padding-bottom: 0;
}
.FeaturesSection .card-title {
  font-family: var(--heading-font);
  font-size: 20px;
}
.FeaturesSection .card-text {
  color: var(--dark-accent);
  opacity: 0.6;
  font-size: 15px;
}
@media (max-width: 770px) {
  .FeaturesSection .banner {
    padding: 20px;
  }
}
@media (max-width: 541px) {
  .FeaturesSection .card-img-top {
    width: 6vw;
  }
  .FeaturesSection .card {
    width: 80vw;
  }
}
@media (max-width: 415px) {
  .FeaturesSection .card {
    width: 42vw;
  }
  .FeaturesSection .left-side {
    padding-bottom: 40px;
  }
}
@media (max-width: 376px) {
  .FeaturesSection .card {
    width: 40vw;
  }
}
