.FocusCatch {
  background-color: var(--dark-accent);
  color: var(--light-accent);
  padding: 0;
}
.FocusCatch .catch-column {
  padding: 12vh;
}
.FocusCatch .heading {
  font-size: 3vw;
  color: var(--light-accent);
  padding: 0;
}
.FocusCatch .info {
  padding-top: 10px;
  font-weight: 200;
  font-size: 1.7vw;
  width: 500px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.FocusCatch .element {
  color: var(--light-accent);
}
.FocusCatch .keyboard {
  width: 100vw;
}
.FocusCatch .info .script {
  font-family: var(--script-font);
  font-size: 4vw;
  padding-top: 20px;
  opacity: 0.8;
}
@media (max-width: 1025px) {
  .FocusCatch .catch-column {
    padding: 2vh;
  }
}
@media (max-width: 415px) {
  .FocusCatch .catch-column {
    padding: 2vw;
    margin: 10px;
  }
  .FocusCatch .heading {
    font-size: 8vw;
    color: var(--light-accent);
    padding: 0;
  }
  .FocusCatch .info {
    font-size: 4vw;
    width: 90vw;
  }
}
