.FocusCatch {
  background-color: var(--dark-accent);
  color: var(--light-accent);
  padding: 12vh 6vw 2vh;
}
.FocusCatch .heading {
  font-family: var(--heading-font);
  font-size: 3vw;
}
.FocusCatch .info {
  padding-top: 10px;
  font-weight: 200;
  font-size: 19px;
  width: 500px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.FocusCatch .element {
  color: var(--light-accent);
}
