.Hero {
  text-align: center;
  background: url(/src/components/images/beach-small.jpg) no-repeat center
    center fixed;
  height: 750px;
  background-size: cover;
}
.Hero .title {
  padding-top: 150px;
  font-family: var(--heading-font);
  font-size: 5vw;
  color: var(--dark-accent);
  margin-bottom: 30px;
}
@media (prefers-reduced-motion: no-preference) {
  .fade-up {
    animation-duration: 3s;
    animation-name: slide-fade;
    animation-direction: alternate;
  }
}

@keyframes slide-fade {
  from {
    margin-bottom: 20%;
    opacity: 0;
  }

  to {
    margin-bottom: 2.5%;
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .Hero {
    height: 100vh;
    background: url(/src/components/images/beach.jpg) no-repeat center center;
  }
  .Hero .title {
    padding: 250px 40px 30px;
    font-size: 8vw;
    line-height: 1.4;
  }
}
@media (max-width: 415px) {
  .Hero {
    height: 100vh;
    background: url(/src/components/images/beach.jpg) no-repeat center center;
  }
  .Hero .title {
    padding: 150px 0 0;
    font-family: var(--heading-font);
    font-size: 8.5vw;
    color: var(--dark-accent);
    margin-bottom: 30px;
  }
  .Hero .description {
    font-size: 25px;
    width: 70%;
    margin: auto;
  }
}
