.Intro {
  background: url(/src/components/images/keyboardTransparent.png) no-repeat
    center center;
  height: 750px;
  background-size: cover;
}
.Intro {
  padding-top: 100px;
  padding-left: 50px;
}
.Intro .thin-heading {
  font-size: 5vw;
  font-weight: 100;
  color: var(--dark-accent);
}
.Intro .script-heading {
  color: var(--secondary-colour);
  font-size: 4.5vw;
  font-weight: 100;
  opacity: 0.4;
  font-family: var(--script-font);
}
.Intro .intro-description {
  color: var(--dark-accent);
  opacity: 0.9;
  font-weight: 200;
  letter-spacing: 1.5px;
  padding-top: 20px;
  font-size: 20px;
  width: 600px;
}
@media (min-width: 1300px) {
  .Intro {
    height: 1000px;
  }
}
