.Intro .row,
.Intro .col-sm-6 {
  padding: 0;
}
.Intro {
  padding: 20vh 0vw 15vh 5vw;
}
.Intro .thin-heading {
  padding-top: 50px;
}
.Intro .logo {
  width: 30vw;
  padding-bottom: 30px;
}
.Intro .folders {
  position: relative;
  right: -5vw;
}
@media (min-width: 1300px) {
  .Intro .folders {
    right: -10vw;
  }
}
@media (max-width: 1025px) {
  .Intro {
    padding: 10vh 5vw 10vh;
  }
  .Intro .logo {
    width: 70vw;
    padding-bottom: 10px;
  }
  .Intro .folders {
    right: -7vw;
  }
}
