.Button button.btn {
  background: var(--light-accent);
  opacity: 0.7;
  padding: 15px 40px;
  font-size: 2vw;
  font-weight: 300;
  color: var(--dark-accent);
  border-radius: 6px;
  margin: 60px 0;
  transition: 200ms all ease-in-out;
}
.Button button.btn:hover {
  opacity: 1;
  color: var(--secondary-colour);
  box-shadow: none;
}
.Button button.white {
  border: none;
  background: var(--dark-accent);
  color: var(--light-accent);
}
.Button button.white:hover {
  box-shadow: var(--shadow);
  color: var(--light-accent);
}
