.Carousel .carousel-inner {
  padding: 10vh 5vw 0;
  font-size: 1.5vw;
  letter-spacing: 1.5px;
  color: var(--dark-accent);
  font-weight: 300;
  opacity: 0.7;
}
.Carousel .testimonal-carousel {
  position: relative;
  z-index: 1;
  left: 50vw;
}
.Carousel .referee {
  padding: 50px 0 0;
  color: var(--seamoss-colour);
  opacity: 0.6;
  text-align: center;
}
.Carousel {
  height: 18vh;
}
@media (max-width: 1025px) {
  .Carousel .carousel-inner {
    padding: 3vh 4vw 0;
    font-size: 2vw;
  }
  .Carousel .referee {
    padding: 20px 0 0;
  }
}
@media (max-width: 415px) {
  .Carousel .carousel-inner {
    padding: 5vh 10vw 0;
    font-size: 4vw;
  }
  .Carousel .referee {
    padding: 20px 0 0;
  }
}
