.Carousel .carousel-inner {
  padding: 50px 50px 0;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: var(--dark-accent);
  font-weight: 300;
  opacity: 0.7;
}
.Carousel .testimonal-carousel {
  position: relative;
  z-index: 1;
  left: 155px;
}
.Carousel .referee {
  padding: 50px 0 0;
  color: var(--seamoss-colour);
  opacity: 0.6;
  text-align: center;
}
.Carousel {
  height: 18vh;
}
