.Contact {
  text-align: center;
  background: url(/src/components/images/beachWalkway.jpg) no-repeat center
    center fixed;
  max-height: 800px;
  height: 750px;
  background-size: cover;
}
.Contact .title {
  padding-top: 100px;
  text-align: left;
  font-size: 8vw;
  font-family: var(--heading-font);
  text-shadow: 2px 2px 10px rgb(112, 112, 112);
  color: white;
  margin-bottom: 30px;
  margin-left: 5vw;
}
.Contact .script-heading {
  text-align: left;
  color: var(--seamoss-colour);
  padding-bottom: 2vh;
}
.Contact .contact {
  font-size: 19px;
  opacity: 0.7;
  letter-spacing: 1.2px;
  color: var(--dark-accent);
}
.Contact a {
  color: var(--dark-accent);
  text-decoration: none;
}
.Contact .contact-box {
  width: 500px;
  padding: 30px;
  margin-left: 5vw;
  text-align: left;
  background-color: var(--light-accent);
  opacity: 0.9;
}
