footer {
  margin-top: 60px;
  color: var(--dark-accent);
  font-family: var(----main-font);
}

footer .arrow {
  margin: 0;
  padding: 0;
}
footer .details {
  padding: 2px;
  font-family: var(--main-font);
  margin-left: 100px;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
}
footer .contact-details {
  padding-bottom: 20px;
}

footer .subheading {
  padding-left: 0;
  color: var(--dark-accent);
  font-size: 2vw;
  font-family: var(--heading-font);
}
footer a {
  text-decoration: none;
  color: var(--dark-accent);
}
footer .logo,
footer .sclogo {
  display: block;
  margin: auto;
  padding-top: 15px;
}

footer .logo {
  max-width: 300px;
}
footer hr {
  border-color: var(--seamoss-colour);
  max-width: 60%;
  margin: 30px auto 40px;
}
footer .logotype {
  display: block;
  margin: auto;
  max-width: 400px;
  padding: 20px;
}
footer .band {
  background: var(--dark-accent);
}

footer .fab {
  padding: 15px;
}
footer .Github-link {
  text-align: center;
}
footer .Github-link a {
  color: var(--primary-colour);
}
footer .social-links {
  font-size: 4vw;
  justify-content: center;
  align-items: center;
  padding-left: 42px;
}
@media (max-width: 770px) {
  footer .logotype {
    max-width: 220px;
  }
  footer .logo {
    max-width: 200px;
  }
  footer .details {
    margin-left: 10px;
  }
  footer .subheading {
    font-size: 3vw;
  }
}
@media (max-width: 570px) {
  footer .logotype {
    max-width: 200px;
  }
  footer .logo {
    max-width: 270px;
  }
}
@media (max-width: 412px) {
  footer .logo {
    display: none;
  }
  footer .subheading {
    font-size: 5vw;
  }
  footer .fab {
    padding: 10px;
  }
  footer .social-links {
    font-size: 10vw;
  }
}
