nav {
  padding: 0;
  margin: 0;
  color: var(--dark-accent);
  display: block;
}

nav .logo {
  max-width: 60px;
  margin-left: 20px;
}
nav a {
  color: var(--dark-accent);
  letter-spacing: 0.6rem;
  font-family: hikouLight;
  font-size: 1.1rem;
}
nav a.nav-link {
  color: var(--dark-accent);
  transition: all 200ms ease-in-out;
  font-size: 2rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}
nav a.nav-link:hover,
nav a.nav-link:active,
nav a.nav-link:focus {
  color: var(--seamoss-colour);
}
nav a:hover {
  color: var(--secondary-colour);
}
nav .navbar {
  display: inline-block;
  justify-content: space-between;
}
.navbar {
  padding: 0;
}
nav button.navbar-toggler {
  border: var(--dark-accent) 1px solid;
}
nav button.navbar-toggler:focus {
  border: var(--dark-accent) 1px solid;
}
nav .navbar-toggler-icon {
  margin: 5px 0 0;
}
nav .navbar-toggler-icon .burger {
  color: var(--dark-accent);
  opacity: 1;
  margin: 5px 1px;
}
nav button {
  text-align: end;
  margin: 20px;
}
nav .navbar-nav {
  background-color: var(--light-accent);
  opacity: 0.9;
  padding: 25px;
  text-align: left;
}
nav #banner {
  background-color: var(--light-accent);
  opacity: 0.9;
  padding: 0px 12px;
}
