.Packages .hero {
  background: url(/src/components/images/packageBanner.jpg) no-repeat center
    center;
  background-size: cover;
  padding: 80px 0 0;
  height: 85vh;
  margin-bottom: 30px;
}
.Packages .title {
  font-size: 8vw;
  text-align: center;
  padding-top: 50px;
  font-family: var(--heading-font);
  text-shadow: 2px 2px 10px rgb(192, 192, 192);
  color: white;
}
.Packages li {
  font-size: 15px;
  list-style: none;
  text-align: start;
  padding: 5px 0;
  opacity: 0.7;
}
.Packages ul.softwares li:before,
.Packages ul.card-text li:before {
  content: "✓";
  padding-right: 5px;
  color: var(--secondary-colour);
}
.Packages .xero-img {
  position: relative;
  top: -100px;
}
.Packages .thin-heading {
  text-align: end;
  font-size: 50px;
  padding-top: 20px;
}
.Packages .softwares {
  justify-content: end;
  padding-top: 20px;
}
.Packages .software {
  font-size: 20px;
  color: var(--dark-accent);
  padding-left: 20px;
}
.Packages hr.element {
  margin: 10px auto;
  max-width: 30%;
}
@media (max-width: 992px) {
  .Packages .custom-shape-divider-bottom-1634265382 {
    margin-top: 175px;
    position: static;
  }
}
@media (max-width: 768px) {
  .Packages .hero {
    height: 450px;
  }
  .Packages .custom-shape-divider-bottom-1634265382 {
    margin-top: 150px;
    position: static;
  }
  .Packages .card {
    width: 21rem;
  }
  .Packages .xero-img {
    position: relative;
    top: -100px;
    left: 280px;
  }
  .Packages .heading-title {
    text-align: start;
    font-size: 40px;
    position: relative;
    right: 385px;
  }
  .Packages .softwares {
    position: relative;
    right: 385px;
  }
}
@media (max-width: 578px) {
  .Packages .hero {
    height: 300px;
  }
  .Packages .heading {
    font-size: 60px;
    padding-top: 50px;
  }
  .Packages .custom-shape-divider-bottom-1634265382 {
    margin-top: 70px;
    position: static;
  }
  .Packages .card {
    margin: 20px auto;
    display: block;
    width: 18rem;
  }
  .Packages .quote {
    text-align: start;
    font-size: 40px;
  }
  .Packages .xero-img {
    position: relative;
    top: -30px;
    left: 10px;
    max-width: 260px;
  }
  .Packages .image {
    position: relative;
    right: -40px;
    top: 40px;
  }
  .Packages .heading-title {
    text-align: end;
    font-size: 28px;
    position: static;
    padding: 0 5px;
  }
  .Packages .light-banner {
    padding: 20px 5px;
  }
  .Packages .phrase {
    padding: 10px 5px;
  }
  .Packages .dark-banner {
    padding: 20px 0;
  }
  .Packages .softwares {
    position: relative;
    right: 5px;
    padding-bottom: 30px;
  }
}
