.Packages .hero {
  background: url(/src/components/images/packageBanner.jpg) no-repeat center
    center;
  background-size: cover;
  padding: 80px 0 0;
  height: 85vh;
  margin-bottom: 30px;
}
.Packages .title {
  font-size: 8vw;
  text-align: center;
  padding-top: 50px;
  font-family: var(--heading-font);
  text-shadow: 2px 2px 10px rgb(192, 192, 192);
  color: white;
}
.Packages li {
  list-style: none;
  text-align: start;
  padding: 5px 0;
  opacity: 0.7;
}
.Packages ul.softwares li:before,
.Packages ul.card-text li:before {
  content: "✓";
  padding-right: 5px;
  color: var(--secondary-colour);
}
.Packages .xero-img {
  position: relative;
  top: -100px;
}
.Packages .thin-heading {
  text-align: end;
  font-size: 50px;
  padding-top: 20px;
}
.Packages .softwares {
  justify-content: end;
  padding-top: 20px;
}
.Packages .software {
  font-size: 20px;
  color: var(--dark-accent);
  padding-left: 20px;
}
.Packages hr.element {
  margin: 10px auto;
  max-width: 30%;
}
@media (max-width: 1025px) {
  .Packages .custom-shape-divider-bottom-1634265382 {
    margin-top: 175px;
    position: static;
  }
  .Packages .hero {
    height: 35vh;
  }
}
@media (max-width: 768px) {
  .Packages .custom-shape-divider-bottom-1634265382 {
    margin-top: 150px;
    position: static;
  }
  .Packages .hero {
    height: 40vh;
  }
}
@media (max-width: 412px) {
  .Packages .custom-shape-divider-bottom-1634265382 {
    margin-top: 50px;
    position: static;
  }
  .Packages .hero {
    height: 30vh;
  }
  .Packages .xero-img {
    position: relative;
    top: -30px;
  }
  .Packages .thin-heading {
    font-size: 6vw;
  }
}
