.TestimonialBanner {
  padding: 15vh 0 0;
  background-color: var(--seamoss-colour);
  margin-bottom: 10vh;
}
.TestimonialBanner .carousel-inner {
  color: var(--light-accent);
  opacity: 0.7;
  padding-top: 0;
}

.TestimonialBanner .referee {
  color: var(--light-accent);
  opacity: 0.9;
}
.TestimonialBanner .img {
  position: relative;
  top: 10vh;
  right: 5vw;
}
@media (max-width: 1025px) {
  .TestimonialBanner .carousel-inner {
    padding: 0vh 4vw 0;
    font-size: 2.5vw;
  }

  .TestimonialBanner {
    padding: 5vh 2vw;
  }
}
