:root {
  --main-font: "Red Hat Display", sans-serif;
  --heading-font: "Prata", serif;
  --script-font: "Parisienne", cursive;
  --dark-accent: #2c3e59;
  --secondary-colour: #598ba8;
  --primary-colour: #93c3ce;
  --light-accent: #f7f7f7;
  --grey-accent: #a3a3a3e0;
  --seamoss-colour: #5b89a6;
  --shadow: 0 0 10px rgb(121, 121, 121);
}
body {
  font-family: var(--main-font);
}
hr.element {
  width: 25%;
  color: var(--dark-accent);
}
.App .thin-heading {
  font-size: 3.5vw;
  font-weight: 100;
  color: var(--secondary-colour);
  opacity: 0.7;
}
.App .script-heading {
  opacity: 0.7;
  text-align: end;
  color: var(--dark-accent);
  font-size: 3.5vw;
  font-weight: 100;
  font-family: var(--script-font);
}
